*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-img {
  height: 500px;
  object-fit: cover;
}

.admin-landing-page {
  background-image: url("https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&cs=tinysrgb&w=5760&h=3840");
  background-size: cover;
  background-position: center calc(50% + 140px);
  height: 60vh;
}

.admin-landing-page .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.product-card-container {
  display: flex;
  align-items: center; /* Center cards vertically */
  justify-content: center; /* Center cards horizontally */
  height: 100%; /* Fill the available height to make cards have the same height */
}

.product-card {
  width: 500px;
  height: 100%; /* Fill the available height to make cards have the same height */
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage{
  width: 260px;
  height: 230px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .productImage {
    width: 100%; /* Make the image width 100% of the container to fit within the card */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  }
}


